*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --body-r-color : teal;
    --body-color : #a7bc5b;
    --btn-color : orangered;
    --price-tag :#fdee30;
    --white : white;
}
body{
    font-family: sans-serif;
    background-color: var(--body-color);
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
span{
    color: var(--price-tag);
}
.btn-menu{
    display: flex;
    gap: 1rem;
}

button{
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
}

button:hover{
    background-color: var(--btn-color);
    color: var(--white);
    transition: 0.7s;
}

section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 5rem 5rem;
}
.item{
    height: 8rem;
    display: flex;

}
.item-price{
    display: flex;
    justify-content: space-between;
}
.card-right-side{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
img{
    width: 12rem;
    height: 8rem;
    border: 2px solid var(--btn-color);
    border-radius: 0 1rem 0 1rem;
}
h3{
    letter-spacing: 0.1rem;
}
h4{
    color: var(--price-tag);
}
p{
    color: var(--white);
    font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
    header{
        background-color: var(--body-r-color);
    }
    section{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 1rem 0;
        height: auto;
    }
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15rem;
        width: 100%;
       
    }
    .btn-menu{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
  } 



/* //............................................................. */
@media screen and (min-width: 480px) and  (max-width: 769px) {
    body{
        
        width: 100%;
    }
    section{
        grid-template-columns: 1fr;
        
    }
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20rem;
       
    }
    .card-right-side{
        padding: 1rem 6rem;
        display: flex;
       
    }
    img{
        width: 45vw;
        height: 35vh;
    }
    p{
        font-size: 0.7rem;
    }
    h3{
        font-size: 1rem;
    }
    .btn-menu{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    button{
        padding: 1rem 2rem;
    }
    
}
@media screen and (min-width: 770px) and (max-width: 1042px) {
    body{
        background-color: var(--body-r-color);
        width: 100%;
    }
    section{
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
    }
    img{
        width: 24rem;
        height: 10rem;
    }
    p{
        font-size: 1.1rem;
    }
    h3{
        font-size: 1.4rem;
    }
}
